.umaHome {
    text-align: center;
    margin-top: 10px;
}

.umaHome input {
    width: 300px;
}

.umaHome button {
    margin-left: 10px;
}

.umaHome ul{
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 0;
}

.umaHome li{
    text-align: left !important;
    margin: auto;
}

.umaHome input[type="radio"] {
    width: 30px;
}


/* class2 */
.dress {
    text-align: center;
    margin-top: 10px;
}

.dress input {
    width: 300px;
}

.dress button {
    margin-left: 10px;
}

.dress ul{
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 0;
}

.dress li{
    text-align: left !important;
    margin: auto;
}

.dress input[type="radio"] {
    width: 30px;
}
